.list-cart{
    position: sticky;
    top: 0;
}
.personal-info{
    margin-top: 15px;
    display: flex;
    justify-content: space-evenly;
    border: 2px solid limegreen;
    border-radius: 25px;
    background-color: gray;
}
.personal-details{
    background-color: white;
    border-radius: 70px;
    padding: 10px;
    color: steelblue;
}
.btn-breaktime{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    background-color: azure;
    border-radius: 15px;
}
.btn-break{
    color:black;
    border-radius: 25px;
    padding: 10px;
}
.btn-break:hover{
    background-color: goldenrod;
}

.exercise-head{
    background-color: aliceblue;
    padding: 10px;
    border: 2px solid lightgray;
    border-radius: 15px;
}
.btn-complete{
    width: 100%;
    padding: 10px;
    background-color: azure;
    border-radius: 15px;
}
.btn-complete:hover{
    background-color: goldenrod;
}