.sports-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    margin-bottom: 5px;
}
.activity-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
}