.sports-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    margin-bottom: 5px;
}
.activity-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin: 70px 50px;
}
.task-bar{
    background-color: beige;
    padding: 15px;
}

.task-bar img{
    width: 50px;
    height: 50px;
}

.trainer-info{
    display: flex;
}
.trainer-info h2{
    margin-top: 0;
    margin-left: 10px;
    margin-bottom: 0;
    
}
.trainer-location{
    display: flex;
    align-items: center;
    margin-left: 70px;
    margin-top: 0;
}
.trainer-location p{
    align-items: center;
    margin-left: 2px;
}
/* @media only screen and (min-width: 688px) and (max-width:992px) */
@media only screen and (min-width: 375px) and (max-width: 650px){
    .sports-container{
        display: block;
    }
    .activity-container{
        display: block;
    }
    .header
    {
        display: table;
    }
} 

