.sport-info{
    width: 300px;
    height: 510px;
}
.sport-info img{
    width: 300px;
    height: 250px;
}
.sport-name{
    font-family: fantasy;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
}